@import "../../vg-mixins";

:host {
    display: flex;
    width: 100%;
    height: 5px;
    pointer-events: none;
    position: absolute;

    .background {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

vg-controls :host {
    position: absolute;
    top: calc(50% - 3px);

    .background {
        @include border-radius(2px);
    }
}

