#################
## Misc
#################
**/.DS_Store
node_modules
npm-debug.log
**/*.js
**/*.js.map
**/*.d.ts
**/*.metadata.json
**/*.ngsummary.json
coverage
compiled
docs/_book
package-lock.json

!karma.conf.js
!karma-test-shim.js

#################
## JetBrains
#################
.idea
.project
.settings

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
