#################
## Misc
#################
**/.DS_Store
node_modules
npm-debug.log
coverage
compiled
docs
**/*.ts

!**/*.js
!**/*.d.ts
!**/*.metadata.json

#################
## JetBrains
#################
.idea
.project
.settings

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
