#################
## Misc
#################
**/.DS_Store
node_modules
npm-debug.log
coverage
compiled
docs
**/*.ts
*.md
karma.conf.js
karma-test-shim.js
tsconfig.json
tslint.json
.travis.yml
.gitignore
package-lock.json

!**/*.js
!**/*.d.ts
!**/*.metadata.json
!**/*.ngsummary.json

#################
## JetBrains
#################
.idea
.project
.settings

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
