#################
## Misc
#################
**/.DS_Store
node_modules
npm-debug.log
coverage
**/*.ts

!**/*.js
!**/*.d.ts
!**/*.metadata.json
!compiled/**/*.js
!compiled/**/*.d.ts

#################
## JetBrains
#################
.idea
.project
.settings

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
