<vg-player>
    <vg-controls>
        <vg-play-pause vg-for="*"></vg-play-pause>

        <vg-scrub-bar vg-for="*"></vg-scrub-bar>

        <vg-time-display property="left" format="mm:ss"></vg-time-display>

        <vg-mute vg-for="*"></vg-mute>

        <vg-fullscreen vg-for="*"></vg-fullscreen>
    </vg-controls>

    <video vg-media #main id="mainVideo" preload="auto" style="width: 50%;">
        <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">
    </video>

    <video vg-media #pip id="pipVideo" preload="auto" style="width: 50%;">
        <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">
    </video>
</vg-player>
