<h2>Multiple media player with one master</h2>

<p>Video player with three video objects. The one with is-master controls all of them.</p>

<vg-player>
    <vg-controls>
        <vg-play-pause></vg-play-pause>

        <vg-time-display property="current" format="mm:ss"></vg-time-display>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display property="left" format="mm:ss"></vg-time-display>
        <vg-time-display property="total" format="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls>


    <video vg-media id="pipVideo" preload="auto" style="width: 30%;">
        <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">
    </video>

    <video vg-media vg-master="true" id="masterVideo" preload="auto" style="width: 40%;">
        <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">
    </video>
    
    <video vg-media id="pipVideo2" preload="auto" style="width: 30%;">
        <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">
    </video>
</vg-player>
