<h2>Multiple media player</h2>

<p>Video player with two video objects controlled in parallel by an overlay plugin and custom controls.</p>

<vg-player>
    <vg-controls>
        <vg-play-pause vg-for="*"></vg-play-pause>

        <vg-scrub-bar vg-for="*"></vg-scrub-bar>

        <vg-time-display>{{ main?.time?.left | date:'mm:ss' }}</vg-time-display>

        <vg-mute vg-for="*"></vg-mute>

        <vg-fullscreen vg-for="*"></vg-fullscreen>
    </vg-controls>

    <video #main id="mainVideo" preload="auto" style="width: 50%;">
        <source *ngFor="#video of sources" [src]="video.src" [type]="video.type">
    </video>

    <video #pip id="pipVideo" preload="auto" style="width: 50%;">
        <source *ngFor="#video of sources" [src]="video.src" [type]="video.type">
    </video>
</vg-player>
