@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin control($width: auto){
	@include noselect;
    display: flex;
    justify-content: center;
    height: 50px;
    width: $width;
    cursor: pointer;
    color: white;
    line-height: 50px;
}

@mixin opacity($value: 1) {
    zoom: 1;
    filter: alpha(opacity=$value * 100);
    opacity: $value;
}

@mixin border-radius($value: 0) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}
