@font-face {
  font-family: 'videogular';
  src: url('fonts/videogular.eot');
  src: url('fonts/videogular.eot?#iefix') format('embedded-opentype'),
  url('fonts/videogular.woff') format('woff'),
  url('fonts/videogular.ttf') format('truetype'),
  url('fonts/videogular.svg#videogular') format('svg');
  font-weight: normal;
  font-style: normal;
}

:host {
  font-family: 'videogular';
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  video {
    width: 100%;
    height: 100%;
  }
}
